@using DigitalLibrary.Web.ViewModels.Comment
@model CommentPublicViewModel

<div>
    <div class="modal-title">@Model.Content</div>
    <div> by: <em>@Model.PostedBy</em> Date: <em>@Model.DatePosted</em></div>
</div>

