@using DigitalLibrary.Web.ViewModels.Comment
@model CommentPublicViewModel

<div class="container jumbotron">
    <div >@Model.Content</div>
    <div class="badge pull-right"> by: <em>@Model.PostedBy</em> Date: <em>@Model.DatePosted</em></div>
</div>

