@using DigitalLibrary.Web.ViewModels.Home
@model HomePageStatisticsModel

<div>
    <i>Authors: </i>@Model.NumberOfAuthors
    <i>Works: </i>@Model.NumberOfWorks
    <i>Genres: </i>@Model.NumberOfGenres
    <i>Users: </i>@Model.NumberOfUsers
</div>


